<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PingChekker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A05ECEDF2D8722A500A018E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05ECEF02D8722A700A018E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05ECEFA2D8722A700A018E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
